@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg mt-5">
            <img src="~/images/mypic.jpg" class="card-img-top mx-auto mt-3 rounded-circle" alt="Your Profile Picture" style="width: 250px; height: 250px;">
            <div class="card-body text-center">
                <h5 class="card-title">Mohamed Mahmoud Sayed Abdeltawab</h5>
                <h6 class="card-subtitle mb-2 text-muted">Fayoum University</h6>
                <h6 class="card-subtitle mb-2 text-muted">Computer science  & artificial intelligence </h6>
                <h6 class="card-subtitle mb-2 text-muted">CS</h6>
                <h6 class="card-subtitle mb-2 text-muted">4th year</h6>
                
            </div>
        </div>
    </div>
</div>